.educ{
  display: flex;
  background: linear-gradient(
     rgba(255, 255, 255, 0.7),
     rgba(255, 255, 255, 0.3)
   ),
     url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
     background-size: cover;
     background-position: center;
} 

.educContainer{
   flex:6;
}
   

.educations{
     min-height: 40vh;
     display: flex;
     font-size: 14px;
     color:#555;
     padding: 3rem;
    }

.education{
  min-width: 73vw;
}
.educTop{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    height: 6vh;
    width: 100%;
}

table, th, td {
  border: 1px solid;
  border-bottom: 1px solid #555;
}

     table {
        border-collapse: collapse;
        width: 100%;
        
        
      }

      th,
        td {
        text-align: left;
        padding: 8px;
        font-size: 1.2rem;
        bottom: 1px solid #555;
        }
        th {
           background-color: white;
           height: 5vh;
           width: 5vw;

         }
         
         td {
           background-color: white;
           border: 1px solid #555;
           
         }
         
         form {
           display: flex;
           gap: 5px;
         }
         
         form td:last-child {
           display: flex;
           justify-content: space-evenly;
         }
         
         form {
           font-size: 18rem;
         }